
/*Header hissesinin baslangici*/
*{
    font-family: SourceSansPro;
}
@font-face {
    font-family: SourceSansPro;
    src: url("../../fonts/SourceSansPro-Regular.ttf");
}
.header_bg{
    background-color: #ffffff;
    width: 100%;
    height: 64px;
}








/* Header hissessinin sonu */