
/*Header hissesinin baslangici*/
*{
    font-family: SourceSansPro;
}
@font-face {
    font-family: SourceSansPro;
    src: url("../../fonts/SourceSansPro-Regular.ttf");
}
.header_bg{
    background-color: #ffffff;
    width: 100%;
    height: 64px;
}
.header_bg img
{
    margin-top: 10px;
    display: inline-block;
}
.menu_header{
  margin: 0 auto;
    position: relative;
    top: 25px;
    padding: 0;
}
.menu_header li{
    display: inline;
    padding-left: 30px;
    padding-top: 62px;
    list-style: none;
}

.menu_header li  a{
    font-family: SourceSansPro;
    font-size: 16px;
    color: #000;
    text-decoration: none;
}
.text{
    position: relative;
    top: 20px;
}

.text{
    
}


/*Header hissessinin sonu*/