.txt_container{
    font-family: Overpass;
    font-weight: bold;
    font-size: 42px;
    color: #000000;
}

.center_2560{
    width: 1145px;
    margin: 0 auto;
}
.con_img{
    width: 330px;
    float: left;
}

.con_txt{
    float: left;
    width: 750px;
}

.con_txt_h6{
    font-size: 26px;
    color: #000;
    font-weight: bold;
}

.con_txt p{

    font-size:16px;
    color: #4c4b4b;
}

.con_btn{
    background: none;
    border:none;
    outline: none;
    font-size: 22px;
    color: #ef6c00;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    right: 10px;
}

.con_btn:hover{
    cursor: pointer;
}

.con_2_h3{
    font-size: 42px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-bottom: 60px;
    position: relative;
    top: 60px;
}
.lang_prog{
    padding-top: 60px;
}
.lang_prog li {
    width: 345px;
    display: inline-block;
    float: left;
    margin-left: 20px;
}

.lang_prog li h6{
    font-size: 26px;
    color: #000;
    margin-top: 26px;
}

.lang_prog li p{
    font-family: SourceSansPro;
    font-size: 16px;
    color: #4c4b4b;
}

.con_bg{
    position: relative;
    top: 165px;
    background-image: url("../../img/bg-2.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 694px;
    background-size: cover;
    background-position: center;
    clear: both;
}

.con_bg_txt{
    padding-top: 140px;
    float:left;
}
.con_bg_txt h1{
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

.con_bg_txt p{
    color: #ffffff;
    font-size: 16px;
    padding-top: 60px;
}

.con_bg_img{
    padding-top: 230px;
}

.container_finish{
   position: relative;
    top:265px;
}

.container_txt_finish{
    text-align: center;
}

.container_finish h1{
    font-size: 42px;
}

.container_finish p {
    font-size: 18px;
}



.people_menu div{
    display: inline-block;
    position: relative;
    top:50px;
}

.people_menu li img{
    width:70px;
    height: 70px;
    border-radius: 100%;
}

.people_menu li {
    margin-right: 40px;
    float: left;
}

.people_menu h6{
    font-weight: bold;
    color: #000;
    font-size: 22px;
    margin-left: 10px;
    display: inline-flex;
}

.people_menu p {
    font-family: SourceSansPro;
    color: #4c4b4b;
    font-size: 14px;
    display: inline-flex;
    margin-left: 10px;
}
